<div >
  <h3 id="heading">Topic List</h3>
</div>
<div>
  <table class="table">

  <tr>
    <th>topic.Title</th>
    <th>find details</th>
  </tr>
    <% @forum_topics.each do |topic| %>
  <tr>
    <td><%= topic.topic_name %></td>
    <td><%= link_to 'explore', topiccomments_topic_path(topic) %></td>
  </tr>
  <% end %>
  </table>
</div>


<div>
<h3 id="heading">Create Topic</h3>
<%= render 'form' %>
</div>
