/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#sign_in{
  width: 80em;
  height:2em;
  text-align: right;

  color: #B8F5EF;
}

#yeild{
  margin-left: 14em;
  margin-top: 3em;
  margin-bottom:5em;
}

#title{
text-align:center;
color:#5AC5E8;
}

#footer{
  text-align:center;
  color: #5AC5E8;
}



