// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tags{
width: 100px;
.s { font-size:0.8em;}
.m { font-size:1.2em;}
.l { font-size:1.4em;}
}

#heading{
margin-top:10px;
  margin-bottom:20px;
}

#tag{
  float:right;

  margin-right:11em;
}

#topics{
border:1px solid #D7F7EA;
width:50em;
}

#head{
  margin-bottom:30px;
}

.heading{
  font-size:25px;
  color:green;
}
